NEXT_PUBLIC_SITE_URL=https://hechoenladorada.co
NEXT_PUBLIC_SUPABASE_URL=https://nvidjyavggljuukjmmmf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_mEutHNmodVNOLCoclP3MDA_6l8VDx93
SUPABASE_SERVICE_ROLE_KEY=opcional-solo-servidor-para-crear-bucket-media
